.userpage-container {
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.profile-user-container {
    max-width: 800px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1rem;
}
.profile-user {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: start;

}
.profile-name {
    padding-top: 0;
}
.profile-info {
    display: grid;
     grid-template-columns: 1fr 1fr;
     padding-top: 1rem;
}
.profile-login-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    border-top: 1px solid #e5e7eb;
    padding-top: 0.5rem;
}
.profile-login-info p {
    padding: 0;
    margin: 0;
}
.edit-profile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.security-header {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.security-header h3 {
    padding: 0;
    margin: 0;
}
.change-password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
}
.user-security-section {
    max-width: 800px;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: white;
}
.change-password p {
    margin: 0;
}
.metatext {
    font-size: small;
}