.date-overview {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
}
.booking-toolbar {
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: end;
    gap: 1rem;
}