@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grand+Hotel&display=swap');


html,
body {
  width: 100%;
  overflow-x: hidden; 
}

#root {
  width: 100%;
  overflow-x: clip; 
}

/* GLOBAL FONT */

/* Bas */
html, body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #111;
  background: #fff;
}

/* Rubriker */
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  padding-top: 30px;
}

/* Storlekar */
h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.3rem; }

/* Text */
p {
  margin: 0 0 1rem 0;
  line-height: 1.6;
}